@import url(../digits/section-title/section-title.css);
@import url(../digits/section-title/_theme/section-title_theme_dark.css);
@import url(../digits/section-subtitle/section-subtitle.css);
@import url(../digits/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../digits/table/table.css);
@import url(../digits/table/_theme/table_theme_dark.css);
@import url(./__trangle/kaufman__trangle.css);

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 90px 0;
  overflow: hidden;
}
