@import url(../../vendor/normalize.css);
/*----------rotation----------*/
@import url(../rotation/rotation.css);
/*----------header----------*/
@import url(../header/header.css);
@import url(../header/__link/header__link.css);
@import url(../header/__main-illustration/header__main-illustration.css);
@import url(../header/__square-pic/header__square-pic.css);
@import url(../header/__subtitle/header__subtitle.css);
@import url(../header/__title/header__title.css);
@import url(../header/logo/logo.css);
@import url(../header/logo/_place/logo_place_header.css);
/*----------discription----------*/
@import url(../discription/discription.css);
@import url(../discription/two-columns/two-columns.css);
@import url(../discription/two-columns/__brief/two-columns__brief.css);
@import url(../discription/two-columns/__main-text/two-columns__main-text.css);
@import url(../discription/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../discription/two-columns/__span-accent/two-columns__span-accent.css);
/*----------techniques----------*/
@import url(../techniques/techniques.css);
@import url(../techniques/cards/cards.css);
@import url(../techniques/cards/__item/cards__item.css);
@import url(../techniques/cards/__item/__image/cards__image.css);
@import url(../techniques/cards/__item/__title/cards__title.css);
@import url(../techniques/cards/__item/__discription/cards__discription.css);
/*----------video---------*/
@import url(../video/video.css);
@import url(../video/__iframes/video__iframes.css);
@import url(../video/__iframes/__iframe/video__iframe.css);
/*----------oakley---------*/
@import url(../oakley/oakley.css);
/*----------feynman----------*/
@import url(../feynman/feynman.css);
@import url(../feynman/__title/feynman__title.css);
@import url(../feynman/__subtitle/feynman__subtitle.css);
@import url(../feynman/__link/feynman__link.css);
/*----------digits----------*/
@import url(../digits/digits.css);
@import url(../digits/section-title/section-title.css);
@import url(../digits/section-subtitle/section-subtitle.css);
@import url(../digits/table/table.css);
@import url(../digits/table/__cell/table__cell.css);
@import url(../digits/table/__heading/table__heading.css);
@import url(../digits/table/__text/table__text.css);
/*----------khan----------*/
@import url(../khan/khan.css);
@import url(../khan/__container/khan__container.css);
@import url(../khan/__container/__author/khan__author.css);
@import url(../khan/__container/__title/khan__title.css);
@import url(../khan/__container/__quote/khan__quote.css);
@import url(../khan/__container/__quote-author/khan__quote-author.css);
@import url(../khan/__container/__quote-author-subline/khan__quote-author-subline.css);
@import url(../khan/__container/__book-container/khan__book-container.css);
@import url(../khan/__container/__book-pic/khan__book-pic.css);
@import url(../khan/__container/__buy-link/khan__buy-link.css);
/*----------kaufman----------*/
@import url(../kaufman/kaufman.css);
@import url(../digits/section-title/_theme/section-title_theme_dark.css);
@import url(../digits/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../digits/table/_theme/table_theme_dark.css);
@import url(../digits/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../digits/table/__heading/_theme/table__heading_theme_dark.css);
@import url(../digits/table/__text/_theme/table__text_theme_dark.css);
@import url(../kaufman/__trangle/kaufman__trangle.css);
/*----------resources----------*/
@import url(../resources/resources.css);
@import url(../resources/__logo-zone/resources__logo-zone.css);
@import url(../resources/__logo-zone/__logo/resources__logo.css);
/*----------footer----------*/
@import url(../footer/footer.css);
@import url(../footer/__columns/footer__columns.css);
@import url(../footer/__columns/__column/footer__column.css);
@import url(../footer/__columns/__column/_content/footer__column_content_copyright.css);
@import url(../footer/__columns/__column/_content/footer__column_content_info.css);
@import url(../footer/__columns/__column/_content/footer__column_content_social.css);
@import url(../header/logo/_place/logo_place_footer.css);
@import url(../footer/__columns/__column/__author/footer__author.css);
@import url(../footer/__columns/__column/__column-heading/footer__column-heading.css);
@import url(../footer/__columns/__column/__column-links/footer__column-links.css);
@import url(../footer/__columns/__column/__column-link/footer__column-link.css);
@import url(../footer/__columns/__column/__social-icon/footer__social-icon.css);

.page {
  display: flex;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
  flex-direction: column;
}
